@media only screen and (max-width: 767px) {

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    height: 100%;
  }
  
  header {
    background-color: #3897f0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header-text {
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    margin: 20px;
  }
  
  .user-picture {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 20px;
  }
  
  .user-details {
    display: flex;
    flex-direction: column;
  }
  
  .username {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
  }
  
  .email {
    font-size: 14px;
    color: #848484;
    margin-top: 0px;
  }
  
  .balance-section {
    display: flex;
    justify-content: center;
    margin: 20px;
    width: 90%;
  }
  
  .balance-box {
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  
  .balance-label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .balance-value {
    font-size: 20px;
    font-weight: bold;
  }
  
  .icon-section {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    width: 90%;
  }
  
  .icon-button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background-color: lightgray;
    cursor: pointer;
    margin: 5 10px;
  }
  
  .icon-button:hover {
    background-color: green;
  }
  
  .icon-button object {
    width: 100%;
    height: 100%;
  }
  
  .input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
  
  .user-input-container {
    display: flex;
    align-items: center;
    width: 90%;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
  }
  
  .user-icon {
    width: 30px;
    height: 30px;
    margin-right: 2px;
  }
  
  
  .user-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
  }
  
  .balance-input-container {
    display: flex;
    align-items: center;
    width: 90%;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
  }
  
  .balance-icon {
    width: 27px;
    height: 27px;
    margin-right: 3px;
  }
  
  .balance-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
  }
  
  .withdraw-button {
    width: 90%;
    height: 40px;
    background-color: #3897f0;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    margin: 20px;
  }
  
}